<head>
    <link rel="stylesheet" href="/stylesheets/taskstyle.css">
</head>

<div id="introduction">
    <h1>Task Tracker</h1>
<p>Tired of forgetting task? Task Tracker is here to help you keep records of your tasks and proritize accordingly.</p>

</div>
