<h1 id="addTaskHead">Add A Category</h1>
{{#if user}}
<div id="addCategoryBtn">
<a href="/categories/add" class="btn btn-dark">Add a category</a>

</div>
{{/if}}
{{!-- To Show data --}}
<body id="classIndex">
 
 <div id="cards">
  {{#each dataset}}
  <div class="card  mb-2"  >

    <div class="card-body" id="card2">
      <h5 class="card-title" >
        

{{this.name}}

{{#if ../user}}                    
    <a href="/categories/delete/{{this._id}}" class="btn btn-outline-warning" onclick="return confirmDeletion();">Delete</a>
{{/if}}
  

          
          
    
      </h5>
      
    </div>
  </div>
{{/each}}
 </div>

</body>

